
# ignore objects
*.o
# ignore dependency files
*.d

# ignore backups/vim's files
*~
.*.swp

# ignore binaries
herbstluftwm
herbstclient

# ignore generated doc
doc/herbstclient.1
doc/herbstclient.html
doc/herbstluftwm.1
doc/herbstluftwm.html

# ignore build dirs
build/
etc/
