Thorsten Wißmann <re06huxa@stud.informatik.uni-erlangen.de>
Johannes Jordan <git@lanrules.de>
Johannes Jordan <github@lanrules.de>
Simon Kuhnle <simon@blarzwurst.de>
Manuel Coenen <manuel.coenen@gmail.com>
