language: minimal
dist: xenial
services: docker

cache:
    directories:
        - $HOME/.ccache-clang-7
        - $HOME/.ccache-gcc-4.8
        - $HOME/.ccache-gcc-8

before_install:
    # Delete .git/ to maximize ccache effectiveness (no version string mismatches)
    - rm -rf .git

jobs:
    include:
        - name: "Ubuntu 19.04, gcc-8/clang-7, Debug build, run checks and tests"
          script:
              # Prepare Docker image with bleeding edge Ubuntu 19.04 (disco)
              - docker pull dnnr/hlwm-ci:disco
              - docker build -t disco --cache-from dnnr/hlwm-ci:disco - <Dockerfile.ci-disco


              # Build with clang-7
              - docker run -u $UID -t --rm
                --volume=$PWD:/hlwm:rw
                --volume=$HOME/.ccache-clang-7:/.ccache:rw
                disco
                /hlwm/ci-build.py --cxx=clang++-7 --cc=clang-7 --build-type=Release --ccache

              # Build with gcc-8 and run tests
              - docker run -u $UID --privileged -t --rm
                --volume=/etc/passwd:/etc/passwd:ro
                --volume=$HOME/.ccache-gcc-8:$HOME/.ccache:rw
                --volume=$PWD:/hlwm:rw
                disco
                /hlwm/ci-build.py --check-using-std --cxx=g++-8 --cc=gcc-8 --build-type=Release --ccache --run-tests

        - name: "Ubuntu 14.04, gcc-4.8, Release build"
          script:
              # Prepare Docker image with Ubuntu 14.04 (trusty)
              - docker pull dnnr/hlwm-ci:trusty
              - docker build -t trusty --cache-from dnnr/hlwm-ci:trusty - <Dockerfile.ci-trusty

              # Build with gcc-4.8 (plain bash one-liner because Python is too old)
              - docker run -u $UID -t --rm
                --volume=$PWD:/hlwm:rw
                --volume=$HOME/.ccache-gcc-4.8:$HOME/.ccache:rw
                --env CC=gcc-4.8
                --env CXX=g++-4.8
                trusty
                bash -c 'cd /tmp; cmake -GNinja -DWITH_DOCUMENTATION=NO /hlwm && time ninja -v -k10'
