language: cpp
python: "3.7"

install:
    - sudo apt-get -y -q update
    - sudo apt-get -y -q build-dep herbstluftwm
    - sudo apt-get -y -q install cmake
    - sudo apt-get -y -q install dzen2

script:
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start
    - cmake -DCMAKE_INSTALL_PREFIX=/usr .
    - make -j2
    - sudo make install
    - herbstluftwm &
    - hlwmpid=$!
    - sleep 1
    - herbstclient version
    - herbstclient quit
    - wait $hlwmpid

jobs:
    include:
        - name: "Ubuntu 16.04, gcc-8, run tests"
          dist: xenial
          before_install:
              - CC=gcc-8 CXX=g++-8
              - linkerfix="-fuse-ld=gold" # needed to avoid linker error
              - export LDFLAGS="$linkerfix" LDXXFLAGS="$linkerfix"
          addons:
              apt:
                  sources:
                      - ubuntu-toolchain-r-test
                  packages:
                      - g++-8
                      - xterm
                      - tox
          script:
              - cmake -DCMAKE_BUILD_TYPE=Debug . # run tests with sanitizer
              - make -j2
              - tox

        - name: "Ubuntu 16.04, gcc-7"
          dist: xenial
          before_install: CC=gcc-7 CXX=g++-7
          addons:
              apt:
                  sources:
                      - ubuntu-toolchain-r-test
                  packages:
                      - g++-7

        - name: "Ubuntu 16.04, clang-7"
          dist: xenial
          before_install:
              - CC=clang-7 CXX=clang++-7
              - CXXFLAGS="$CXXFLAGS -Wno-sign-compare -Wno-narrowing"
          addons:
              apt:
                  sources:
                      - llvm-toolchain-xenial-7
                  packages:
                      - clang-7
        - name: "Ubuntu 14.04, gcc-4.8"
          # Note: Travis provides a newer GCC on trusty (5.4), but gcc-4.8 is
          # the version provided by Ubuntu, so we use that one.
          dist: trusty
          before_install: CC=gcc-4.8 CXX=g++-4.8
