body {
    background-color: #eeeeec;
    padding-top: 0.7em;
}

.header {
    padding: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #e9b96e;
    border-bottom: 2px solid #8f5902;
    width: 100%;
    /* make it sticky to the top */
    position: fixed;
    margin-top: 0;
    margin-bottom: 0;
    top: 0;
    left: 0;
}

.header .wmname {
    float: left;
    font-weight: bold;
    color: #8f5902;
}

.header .navigation {
    text-align: center;
}
.header .navigation a {
    padding-left: 0.4em;
    padding-right: 0.4em;
    color: #4e9a06;
    font-weight: bold;
    text-decoration: none;
}

.header .navigation a:visited {
    color: #4e9a06;
}

.header .navigation a:hover {
    color: #8f5902;
    text-decoration: underline;
}

.content {
    width: 42em;
    margin-left: auto;
    margin-right: auto;
    color: #2e3436;
    background-color: white;
    padding: 1em;
    border-left: 1px solid #555753;
    border-right: 1px solid #555753;
}

h1 {
    font-size: 1.4em;
    color: #8f5902;
    padding: 0.2em;
    /* ugly hack to show h1 content when using navigation bar links */
    padding-top: 1em;
}

h2 {
    font-size: 1em;
    color: #2e3436;
}


li {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

a {
    color: #3465a4;
}


.footer {
    margin-top: 4em;
    text-align: center;
    font-size: 0.7em;
}

.codeblock {
    margin: 1em;
    padding: 0.3em;
    border: 1px solid black;
    background-color: #2e3436;
    color: #fce94f;
    font-family: monospace;
    font-weight: bold;
}

.code {
    font-family: monospace;
    color: black;
}

