body {
    background-color: #eeeeec;
    padding-top: 0em;
    margin: 0px;
}

#header , #content {
    width: 40em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    background-color: white;
    border: 2px solid #555753;
    margin-bottom:0px;
    padding-bottom:0px;
}

#header p {
    margin-bottom: 0px;
}

.sect {
    border-top: none;
    border-bottom: none;
    margin-top: 0px;
    margin-bottom: 0px;
}
.sect, #content {
    border-top: none;
    margin-top: 0px;
}
#footnotes hr {
    display: none;
}

#content, #sect1, .sectionbody{
    padding-bottom: 0px;
}

#footer {
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
    border-top: none;
    color: #555753;
    font-size: 0.6em;
}

#content {
    color: #2e3436;
}

#header h1 {
    text-align: center;
}

#header {
    margin-top: 0.9em;
    border-bottom: none;
    margin-bottom: 0px;
}

h1 {
    font-size: 1.6em;
    padding: 0px;
    margin: 0px;
    color: #8f5902;
}

h2 {
    width: 100%;
    font-size: 1em;
    color: #2e3436;
    border-bottom: 1px solid #bcbcbc;
}


li {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

a {
    color: #288900;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #49962B;
}


.footer {
    margin-top: 4em;
    text-align: center;
    font-size: 0.7em;
}

.codeblock {
    margin: 1em;
    padding: 0.3em;
    border: 1px solid black;
    background-color: #2e3436;
    color: #fce94f;
    font-family: monospace;
    font-weight: bold;
}

.code {
    font-family: monospace;
    color: black;
}

.screenshot img {
    border: none;
    padding: 1px;
    background-color: #878787;
    border: 1px solid black;
}
.screenshot {
    text-decoration: none;
}

dt.hdlist1 {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    font-weight: bold;
    color: #2e3436;
}

.listingblock {
    border: 1px solid black;
    padding: 2px;
    background-color: #454545;
}

.listingblock .content {
    margin: 0px;
    background-color: #1e1e1e;
    padding: 0px;
}

.listingblock .content pre {
    padding: 0.4em;
    margin: 0px;
    color: #efefef;
}

tt {
  font-family: monospace;
  font-size: inherit;
}

